<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	        <title>ND Class Updates</title>
	        <meta name="description" content="Sign up to recieve text messages when a class you want to get into becomes available from Notre Dame's class search">
	        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<style>
		.input-field {
			margin-top:40px;
		}
		button {
			margin-top:40px;
		}
		label {
			width:30%;
		}
	</style>
	<body>

	<nav class="green lighten-2">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo center">ND Class Updates</a>
		</div>
	</nav>

	<div class="container">
		<div class="padded">
			{% block content%}
			{% endblock %}
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

	</body>
</html>
